.link_container {
    display: grid;
    width: 60%;
    margin: 0 auto 50px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
}

.colLine {
    margin: 100px 0 100px 0;
    width: 50%;
    height: 80px;
}

.colLineDark {
    border-right: 1px solid white;
}

.colLineLight {
    border-right: 1px solid black;
}

.notice {
    text-align: center;
    white-space: pre-line;
    line-height: 2;
}

@media (max-width: 768px) {
    .container_col {
        grid-template-columns: 1fr;
        grid-template-rows: '1fr' '1fr';
    }
}

@keyframes shake {
    0%,
    100% {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(5px);
    }
}

.shake {
    animation: shake 1s ease-in-out infinite;
}

.embedLink {
    padding: 25px;
    position: relative;
    cursor: pointer;
}

.deleteButton {
    position: absolute;
    right: 0px;
    top: 0px;

    width: 30px;
    height: 30px;

    cursor: pointer;
    z-index: 10;
    border-radius: 10%;
}

.platformModalContainer {
    .platformModalHeader {
        .customSelect {
            height: 100%;
            min-width: 150px;
            color: black;
        }
    }

    .platformModalLink {
        margin-top: 5px;

        input {
            height: 25px;
            width: 100%;
        }
    }

    .platformModalButton {
        display: flex;
        justify-content: center;
        margin-top: 8px;

        .blueButton {
            background-color: rgb(109, 131, 255);
            justify-content: center;
            align-items: center;
            font-size: 16px;

            width: 100%;
            height: 30px;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                background-color: rgb(51, 87, 157);
                transition: 0.3s ease-in-out;
            }
        }
    }
}

.transitionContainer {
    transition:
        height 0.3s ease,
        opacity 0.3s ease;
    overflow: hidden;
    height: 200px;
    width: 0px;
    opacity: 1;
}

.transitionContainerHidden {
    height: 0;
    opacity: 0;
}
