.bannerContainer {
    overflow: hidden;
    position: relative;
}

.imagesWrapper {
    width: 100%; /* 이 부분은 React에서 동적으로 처리합니다 */
    height: 100%;
    display: flex;
    transition: transform 1s ease-in-out;
}

.imageItem {
    flex: 0 0 auto;
    width: 100%; /* 이 부분은 React에서 동적으로 처리합니다 */
    height: 100%;
    object-fit: cover;
}

.editButton {
    position: absolute;
    right: 10px;
    bottom: 10px;

    width: 30px;
    height: 30px;

    cursor: pointer;
    z-index: 10;
    background-color: rgba(131, 131, 131, 0.5);
    border-radius: 10%;
}
