.footer {
    padding: 20px 50px;
    background-color: rgb(204, 204, 204);
    color: #333;
    text-align: center;
    font-size: 14px;
    border-top: 1px solid #eaeaea; /* 상단에 경계선 추가 */
}

.social-links {
    margin: 10px 0;
}

.social-link {
    margin: 0 10px;
    color: #3498db; /* 소셜 미디어 아이콘 색상 */
    text-decoration: none;
}

.contact-info {
    margin-top: 10px;
}
