.list {
    margin: 0 10px 0 10px;
    display: flex;
}

.column {
    padding: 10px 5px 10px 5px;
    background-clip: padding-box;
}

.card {
    height: 100%;
    position: relative;
    box-sizing: border-box;

    img {
        display: block;
    }
}

.tagList {
    display: flex;
    align-content: center;
    overflow: hidden;
    justify-content: space-between;
    margin-top: 5px;

    .scrollBtnLeft {
        height: 100%;
        padding-right: 10px;
        cursor: pointer;
    }

    .scrollBtnRight {
        height: 100%;
        padding-left: 10px;
        cursor: pointer;
    }

    .tagBoxWrapper {
        position: relative;

        .tagBox {
            position: absolute; /* 절대 위치 */ /* 이미지 아래쪽에 배치 */
            left: 0px;
            width: 100%;
            display: flex;
            overflow-x: hidden;
            scroll-behavior: smooth;
            border-radius: 20px;

            &::-webkit-scrollbar {
                height: 0px;
                width: 0px;
            }

            .tag {
                background-color: black;
                color: white;
                margin-right: 5px;
                padding: 0 10px;
                font-family: 'Pretendard-Regular';
                border-radius: 20px;
                white-space: nowrap;
            }
        }
    }
}

.card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card:hover::after {
    opacity: 1;
}

.galleryModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    .expandedImg {
        margin-top: 60px;
        max-width: 80%;
        max-height: 80%;
    }
}

.deleteButton {
    position: absolute;
    right: 10px;
    top: 10px;

    width: 30px;
    height: 30px;

    cursor: pointer;
    z-index: 10;
    border-radius: 10%;
}

@media (min-width: 768px) {
    .expandedImg {
        margin-left: 200px;
    }
}
