.tags {
    button {
        padding: 8px;
        margin: 0 5px 5px 0;
        background-color: #f0f0f0;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            background-color: rgb(192, 224, 230);
        }
    }

    .active {
        background-color: rgb(192, 224, 230);
        font-weight: bold;
    }
}

.table {
    width: 100%;
    border-collapse: collapse;
    th {
        padding: 8px;
        border-radius: 5px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
}

.dark {
    background-color: rgba(255, 255, 255, 0.1);
}

.light {
    background-color: rgba(0, 0, 0, 0.1);
}
