.tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    button {
        padding: 8px;
        margin: 0 5px 5px 0;
        background-color: #f0f0f0;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    :last-child {
        margin-left: auto;
    }

    .lightActive {
        background-color: rgb(173, 219, 228);
        font-weight: bold;
    }

    .darkActive {
        background-color: rgb(51, 87, 157);
        color: white;
        font-weight: bold;
    }
}

.table {
    width: 100%;
    border-collapse: collapse;
    th {
        padding: 8px;
        border-radius: 5px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
}

.dark {
    background-color: rgba(255, 255, 255, 0.1);
}

.light {
    background-color: rgba(0, 0, 0, 0.1);
}

// form

.formGroup {
    margin-bottom: 20px;
}

.input,
.textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submitButton {
    padding: 10px 15px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
