.banner {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 0 0 0 20px;
    margin-bottom: 20px;
}

.darkBanner {
    background: linear-gradient(
        to left,
        #333333,
        rgb(41, 99, 100),
        rgb(61, 138, 153)
    );
}

.lightBanner {
    background: linear-gradient(
        to left,
        rgb(192, 224, 230),
        rgb(115, 195, 203),
        rgb(61, 138, 153)
    );
}

.container {
    height: 100%;
    display: grid;
    grid-template-rows: '1fr' '2fr';
    gap: 10px;
}

.list {
    padding: 0 20px 0 20px;
}
