* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-areas:
        'header header'
        'sidebar main';
    grid-template-columns: 200px 1fr;
    grid-template-rows: 60px 1fr;

    font-family: 'Freesentation-9Black', sans-serif;
}

header {
    grid-area: header;
}

aside {
    grid-area: sidebar;
}

main {
    grid-area: main;

    display: grid;
    grid-template-rows: 1fr auto;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 8px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgb(143, 143, 143);
        border-radius: 4px;
    }

    overflow: overlay;
}

a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;

    &:hover {
        color: lightblue;
    }
}
[data-theme='dark'] {
    color: #ffffff;
}

@media (max-width: 768px) {
    body {
        grid-template-areas:
            'header'
            'main';
        grid-template-columns: 1fr;
    }
}

@font-face {
    font-family: 'Freesentation-9Black';
    src: url('/fonts/Freesentation-9Black.ttf') format('woff2');
    font-weight: 900;
    font-style: normal;
}

.light {
    background-color: #ffffff;
    color: #333333;

    a {
        color: #333333;
    }
}
.dark {
    background-color: #333333;
    color: #ffffff;

    a {
        color: #ffffff;
    }
}
