* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas:
        'header header'
        'sidebar main';
    grid-template-columns: 200px 1fr;
    grid-template-rows: 70px 1fr;
}

header {
    grid-area: header;
}

main {
    grid-area: main;

    display: grid;
    grid-template-rows: 1fr auto;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 8px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgb(143, 143, 143);
        border-radius: 4px;
    }

    overflow: overlay;
}

@media (max-width: 768px) {
    body {
        grid-template-areas:
            'header'
            'main';
        grid-template-columns: 1fr;
    }
}
