.container_col {
    margin-top: 30px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    height: 40vh;

    & > div {
        padding: 30px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        gap: 30px;

        border-right: 2px solid #ccc;
    }
}
