.container_col {
    margin-top: 30px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40vw, 1fr));
    gap: 0px;
    min-height: 50vh;

    & > div {
        padding: 30px;
    }
}

.link_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 30px;

    border-right: 2px solid #ccc;
}

@media (max-width: 768px) {
    .container_col {
        grid-template-columns: 1fr;
        grid-template-rows: '1fr' '1fr';
    }
}
