.container {
    height: 100%;
    width: 100%;
}

.lightGalleryWrapper {
    background-color: rgba(200, 200, 200);
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.darkGalleryWrapper {
    background-color: rgba(100, 100, 100);
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.gridGalleryHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.galleryContainer {
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease;
}

.rotate180 {
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
}

.rotate360 {
    transform: rotate(0deg);
    transition: transform 0.3s ease-in-out;
}

.box {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    gap: 5px;
    min-height: 40px;
}

.lightBox {
    background: linear-gradient(
        to Bottom,
        rgb(200, 200, 200),
        rgb(245, 245, 245)
    );
}

.darkBox {
    background: linear-gradient(to Bottom, rgb(100, 100, 100), rgb(51, 51, 51));
}
