.container {
    display: grid;
    grid-template-rows: '.' '10px' '.';
    gap: 10px;
    height: 100%;
    width: 100%;

    padding: 10px;
}

.galleryWrapper {
    background-color: black;
    padding: 20px;

    display: grid;
    place-items: center;
    display: grid;
}
