.bannerEditContainer {
    padding: 10px 10px 0 10px;

    .bannerEditContent {
        display: flex;
        flex-direction: column;
        border-radius: 10px;

        .bannerEditItem {
            min-height: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 5px;
            border-radius: 10px;
            padding-left: 10px;
        }
    }

    .bannerEditButton {
        display: flex;
        justify-content: center;
        margin-top: 5px;

        .redButton {
            background-color: rgb(231, 116, 116);
            display: flex;
            justify-content: center;
            align-items: center;

            margin-left: 3px;
            width: 50px;
            height: 25px;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                background-color: rgb(188, 94, 94);
                transition: 0.3s ease-in-out;
            }
        }

        .blueButton {
            background-color: rgb(109, 131, 255);
            display: flex;
            justify-content: center;
            align-items: center;

            margin-left: 3px;
            width: 50px;
            height: 25px;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                background-color: rgb(51, 87, 157);
                transition: 0.3s ease-in-out;
            }
        }
    }
}
